<div id="<%= dom_id comment %>" class="comment">
  <p  class="head">
    <strong>User:</strong>
    <%= comment.user.userName %>
  </p>

  <p class="content">
    <strong>comment:</strong>
    <%= comment.content %>
  </p>



</div>
